.textstyle{
    color: #890995;
    letter-spacing: 2px;
}
.textstyle:hover{
    text-shadow: 0 0 2px #890995  , 0 0 2px #890995;
}
.input-filed{
    box-shadow: 0 0 10px 10px rgb(196, 195, 195);
    clip-path : inset( 0 -10px -10px 0)

}